<div class="orders-page">

  <h2 class="page-title">
    Orders
  </h2>

  @for(order of orders(); track order.orderId) {

    <div class="order-card">

      <div class="order-header">

        <span>
          ORDER #{{ order.orderNumber }}• {{ formatTime(order.placedAt) }}
        </span>

      </div>

      @for(item of order.items; track item.orderItemId) {

        <div class="order-item">

          <div>

            <div class="item-name">
              {{ item.itemName }}
            </div>

            <div class="item-meta">
              ₹{{ item.itemPrice }} × {{ item.quantity }}
            </div>

          </div>

          <div class="item-right">

            <div class="subtotal">
              ₹{{ item.itemPrice * item.quantity }}
            </div>

            <span
              class="status-chip"
              [class]="getItemStatusClass(item.status)">

              {{ getItemStatus(item.status) }}

            </span>

          </div>

        </div>

      }

      @if(order.specialInstructions) {

        <div class="instructions">

          ⓘ Cooking Instructions:
          {{ order.specialInstructions }}

        </div>

      }

    </div>

  }
  @if(bill()) {

  <div class="bill-card">

    <div class="bill-header">

      Bill Summary

      <span class="payment-status">

        {{ bill()!.paymentStatus === 1
            ? 'Paid'
            : 'Pending' }}

      </span>

    </div>

    <div class="bill-row">
      <span>Food Total</span>
      <span>₹{{ bill()!.foodTotal }}</span>
    </div>

    <div class="bill-row">
      <span>
        CGST ({{ bill()!.cgstPercentage }}%)
      </span>

      <span>
        ₹{{ bill()!.cgstAmount }}
      </span>
    </div>

    <div class="bill-row">
      <span>
        SGST ({{ bill()!.sgstPercentage }}%)
      </span>

      <span>
        ₹{{ bill()!.sgstAmount }}
      </span>
    </div>

    <div class="bill-row">
      <span>
        Service Charge
        ({{ bill()!.serviceChargePercentage }}%)
      </span>

      <span>
        ₹{{ bill()!.serviceChargeAmount }}
      </span>
    </div>

    <div class="bill-total">

      <span>
        Grand Total
      </span>

      <span>
        ₹{{ bill()!.grandTotal }}
      </span>

    </div>

  </div>

}
</div>