<div class="request-container">

  <button class="request-card" (click)="sendRequest(0)">
    <div class="icon-wrapper">
      <i class="bi bi-person-raised-hand"></i>
    </div>
    <span>Call Waiter</span>
  </button>

  <button class="request-card" (click)="sendRequest(1)">
    <div class="icon-wrapper">
      <i class="bi bi-droplet"></i>
    </div>
    <span>Need Water</span>
  </button>

  <button class="request-card" (click)="sendRequest(2)">
    <div class="icon-wrapper">
      <i class="bi bi-receipt"></i>
    </div>
    <span>Request Bill</span>
  </button>

</div>