:root {
  --surface-warm: #FAF9F6;
  --surface-container-lowest: #ffffff;
  --surface-container: #ffe9e4;

  --primary: #aa3512;
  --primary-container: #cc4d29;

  --on-surface: #251915;
  --on-surface-variant: #58413b;

  --outline-variant: #e0bfb7;
}