<div class="order-card">

  <div class="card-header">

    <div>

      <h3>
        Table {{ order().tableNumber }}
      </h3>

      <div class="order-id">
        ORDER #{{ order().orderNumber }}
      </div>

    </div>

    <span class="placed-at">
      {{ order().placedAt | date:'h:mm a' }}
    </span>

  </div>

  <div class="items-container">

    @for(item of order().items; track item.orderItemId) {

      <div class="order-item">

        <span>
          {{ item.itemName }} x{{ item.quantity }}
        </span>

        <span class="item-status-badge" [ngClass]="getStatusClass(item.status)">
          {{ getStatusLabel(item.status) }}
        </span>

        <span class="material-symbols-outlined ready-icon">
          check_circle
        </span>

      </div>

    }

  </div>

</div>